<!-- Begin Location Section -->
<section id="location-map" class="location-map" style="background-image: url('{{ site.baseurl }}/img/contact-us/{{ site.locationImage }}');">
    <div id="canvas-map" class="canvas-map"></div>
    <div class="content-wrapper">
        <div class="col-lg-6 col-md-4 col-sm-6 col-md-offset-1 animated hiding location-description text-left" data-animation="fadeInLeft" data-delay="0" style="box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);">
            <div class="row">
                <div class="pull-left">
                    <h3>{{ site.contactUsBlockTitle }}</h3>
                    <div class="row">
                      <h4 style="color:#2720a1">Feel free to:</h4>
                      <h4 style="color:#ac8230">Mail us:</h4>
                      <ul>
                        <li>iitgmun@alcheringa.in</li><br>
                      </ul>
                      <h4 style="color:#ac8230">Follow us:</h4>
                      <ul>
                        {% for socialLink in site.socialLinks %}
                                <li>{{ socialLink.link }}</li><br>
                        {% endfor %}
                      </ul>
                      <h4  style="color:#ac8230">Call us:</h4>
                      <ul>
                        {% for contact in site.contacts %}
                                <li>{{ contact.contactNumber }}</li><br>
                        {% endfor %}
                      </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Location Section -->
