<section id="main-workshop" class="main-workshop" style="background-image:url('img/sections-background/main2_2.png')">
  <div style="padding-bottom: 57px; padding-top:93px;">
    <h4 style="font-size:2.5vw; letter-spacing: 0px; color:#2720a1; margin:0px;">IITG Model United Nations</h4>
    <h3 style=" color:#2720a1; font-size: 1.9vw; letter-spacing: 0px; margin:0px; padding-top:15px;">presents</h3>
    <h1 style="font-size: 16vw; letter-spacing: 2px; color:#ac8230; margin:0px;">MUN</h1>
    <h1 style="font-size: 6vw; letter-spacing: 1px; color:black; margin:0px;">WORKSHOP</h1>

    <a href="{{ site.workshopPageLink | prepend: site.baseurl }}"><button class="workshop-button">LEARN MORE</button></a>
    <!--<button class="workshop-button">APPLY NOW</button>-->
  </div>
</section>
