
<!-- Begin Twitter Feed Section -->
<section id="twitter-feed" class="twitter-feed image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.tweetsFeedImage }});">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2">
            <h3 style="font-weight:normal; font-size: 58px;">{{ site.tweetsFeedTitle2 }}<br><font style="color: #ac8230">{{ site.deadPoets }}</font><br>
            	<h3 style="font-weight:normal; font-size: 45px;"><font style="color: #ac8230;">{{ site.waltWhitman }}<font>
            </h3>
            <div id="tweets" class="tweets"></div>
        </div>
    </div>
</section>
<!-- End Twitter Feed Section -->
